<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ model.get("slot") }}
				<span class="glyphicon glyphicon-remove pull-right btnRemoveItem"></span>
			</h3>
		</div>
		
		<div class="panel-body">
			<div class="ItemGemsList">
				{% for oGem in model.get("gems").models %}
					<button data-ndx="{{ loop.index0 }}" type="button"
					        class="btn btn-move btn-block {{ oGem.getButton() }}">
						<img src="{{ oGem.get("image") }}" width="30"/>
						<span>{{ oGem.get("name") }}</span>
						<span class="glyphicon glyphicon-remove pull-right btnRemoveGem"
						      style="font-size: 14pt; line-height: 30px;"
						      aria-hidden="true"></span>
					</button>
				{% endfor %}
			</div>
		</div>
	</div>
</div>